<hr />
<div>
<p>Rating goes here</p>
<h1>  
    {{title}}   
  </h1>  
  <br>  
  <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">  
    <!--<i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>-->
    <i *ngIf="item" class="fa fa-star-o"></i>    
    <i *ngIf="!item" class="fa fa-star"></i>   
   </a>  
  <br>  
  Rating :- {{rating}} stars  
</div>

<div>
    <textarea>Stuff and Crap!!!</textarea>
</div>

<!--
<div class="border border-dark" *ngFor="let review of test3">
    {{review.username}}----Rating:{{review.recipeReviewRating}}<br/>
    Comments:<br/>
    {{review.recipeReviewComment}}
  </div>
  -->