<h1>Search Recipe</h1>
<hr />

<div id="search-component">
  <div>
    <label>Recipe Name:</label>
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    
    <!-- (click) passes input value to add() and then clears the input -->
    <!--<button class="btn btn-light btn-outline-dark" (click)="search(searchBox.value); searchBox.value=''">
      Search
    </button>-->
  </div>
<br>
  <div *ngIf="recipes">
     <ul class="search-result list-group">
      <li class="list-group-item list-group-item-action list-group-item-secondary text-center font-weight-bold" 
      *ngFor="let recipe of recipes" routerLink="/view-recipe/{{recipe.recipeId}}">
          {{recipe.recipeName}}
      </li>
    </ul>
  
  </div>
<br>
<button class="btn btn-light btn-outline-dark" (click)="goBack()">go back</button>
</div>

