<h1>Search Recipe</h1>
<hr />
<div id="search-component">
  <div>
    <label>Recipe Name:
      <input #searchTermTb />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="search(searchTermTb.value); searchTermTb.value=''">
      Search
    </button>
  </div>

  <div *ngIf="recipes">
    <h2>Search = {{searchTerm}}</h2>
    
    <ul class="search-result">
      <li *ngFor="let recipe of recipes" >
        <a routerLink="/detail/{{recipe.recipeId}}">
          {{recipe.recipeName}}
        </a>
      </li>
    </ul>
  
  </div>

<button class="btn btn-light btn-outline-dark" (click)="goBack()">go back</button>


