<div>
  <!--this div box should be on the left side-->
  <div>
    <div>
      <div>
        <h1>{{test.recipeName}}</h1>
        <hr />
        <span class="header">Recipe Cook Time:</span> {{test.recipeCooktime}} minutes
          <br/>
          <span class="header">Recipe Origin:</span> {{test.recipeOrigin}}  
      </div>

      <div>
        <a routerLink="/edit-recipe/{{test.recipeId}}"><button *ngIf="ownRecipe&&notGuest" class="btn btn-sm btn-light btn-outline-dark">Edit</button></a>
        <button *ngIf="ownRecipe&&notGuest" (click)="onDelete()" class="btn btn-sm btn-light btn-outline-dark">Delete</button>
        <button *ngIf="!ownRecipe&&notGuest&&!inCookbook" (click)="addToCookbook()" class="btn btn-sm btn-light btn-outline-dark">CookBook it!</button>
      </div>
    </div>
    <table border=1>  
      <caption>Ingredients</caption>  
      <tr>  
        <th>Ingredient</th> 
        <th>Amount</th>  
      </tr>  
      <tr *ngFor="let item of test2">  
        <td>{{item.ingredientName}}</td>  
        <td>{{item.ingredientAmount}} {{item.measurementName}}</td>   
      </tr>  
    </table>
  </div>
<br/>
  <div>
    <h4>Instructions:</h4>
    {{test.recipeDescription}}<br/>
  </div>

</div>
<div><app-ratings [recipeId]=test.recipeId></app-ratings></div>


<button class="btn btn-light btn-outline-dark" (click)="goBack()">go back</button>