<div style="border: 1px solid red">view-recipe Component</div>
<button class="btn btn-dark" (click)="getRecipe()">Ask the Oracle</button>
<div *ngIf="test">

<div>
  <!--this div box should be on the left side-->
  <div>
    <div>
      <div>
        <h1>{{test.recipeName}}<button class="btn btn-sm btn-light btn-outline-dark">Add to Cookbook(only visible for user)</button></h1>
    </div>
      <div>
        <h5>Recipe Cook Time: {{test.recipeCooktime}}---
        Recipe Origin:{{test.recipeOrigin}} </h5>        
      </div>
    </div>

      <div class="border border-dark" *ngFor="let item of test2">
        {{item.ingredientName}}---{{item.measurementName}}---{{item.ingredientAmount}}
      </div>

  </div>

  <div>
    <h2>Instructions:</h2>
    {{test.recipeDescription}}<br/>
  </div>

</div>

<app-ratings></app-ratings>

<button class="btn btn-light btn-outline-dark" (click)="goBack()">go back</button>
</div>