
<h1>Create Recipe</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <form #createRecipe="ngForm" (ngSubmit)="onCreate();">
      <div class="form-group">
        <label class="control-label text-danger">Recipe Name: </label>
        <input [(ngModel)]="newRecipe.RecipeName" name="recipeName" type="text" class="form-control" #recipeName="ngModel" required />
        <div [hidden]="recipeName.valid || recipeName.pristine"
        class="alert alert-danger">Recipe Name is required</div>
      </div>

      <div class="form-group">
        <input (click)="err1=false" #newOrigin class="form-control" />
        <div [hidden]="!err1"
        class="alert alert-danger">Duplicate exists</div>
        <button type="button" (click)="addOrigin(newOrigin.value); newOrigin.value=''" class="btn btn-light btn-outline-dark">Add Origin</button>
        <br/>Origin:
        <select [(ngModel)]="newRecipe.RecipeOriginName" name="originName" class="custom-select-sm form-control">
          <option *ngFor="let ing of information.origins">{{ing}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label text-danger">Cook Time:  </label>
        <input [(ngModel)]="newRecipe.RecipeCookTime" name="cookTime" type="number" min="1" class="form-control" id="CookTime" required/> Min
      </div>

      <div class="form-group">
        <input (click)="err2=false" #newIngredient class="form-control" />
        <div [hidden]="!err2"
        class="alert alert-danger">Duplicate exists</div>
        <button type="button" (click)="addIngredient(newIngredient.value); newIngredient.value=''" class="btn btn-light btn-outline-dark">Add New Ingredient</button>
        <input (click)="err3=false" #newMeasurement class="form-control" />
        <div [hidden]="!err3"
        class="alert alert-danger">Duplicate exists</div>
        <button type="button" (click)="addMeasurement(newMeasurement.value); newMeasurement.value=''" class="btn btn-light btn-outline-dark">Add New Measurement</button>
        <label class="control-label text-danger">Ingredient: </label>
        <select #selectedIngredient class="custom-select-sm form-control">
          <option *ngFor="let ing of information.ingredients" >{{ing}}</option>
        </select>
        <label class="control-label text-danger">Amount: </label>
        <input #selectedAmount class="form-control" />
        <label class="control-label text-danger">Measurement Unit: </label>
        <select #selectedMeasure class="custom-select-sm form-control">
          <option *ngFor="let ing of information.measurementUnits" [value]="ing">{{ing}}</option>
        </select>
        <button type="button" (click)="addIngredientGroup(selectedIngredient.value, selectedAmount.value, selectedMeasure.value)" 
        class="btn btn-light btn-outline-dark">Add Ingredient</button>
      </div>
      <div class="form-group">
        <p *ngFor="let ing of newRecipeIngredientGroup">{{ing.ingredientName}}---
          {{ing.ingredientAmount}}-{{ing.measurementName}}<a (click)="removeIngredient(ing)">X</a></p>>
      </div>

      <div class="form-group">
        <label class="control-label text-danger">Instructions: </label>
        <textarea [(ngModel)]="newRecipe.RecipeInstruction" name="instruction" id="myTextArea" rows="3" cols="80">
          Your text here
        </textarea>
        <button type="submit" class="btn btn-light btn-outline-dark" [disabled]="!createRecipe.form.valid">Create</button>
      </div>
    </form>
    <button class="btn btn-light btn-outline-dark" (click)="goBack()">go back</button>
  </div>
</div>
