<h1>My Cookbook</h1>
<hr />
<div *ngIf="recipes">
  <ul class="recipes list-group">
   <li class="list-group-item list-group-item-action list-group-item-secondary text-center font-weight-bold"
   *ngFor="let recipe of recipes" routerLink="/view-recipe/{{recipe.recipeId}}" >
       {{recipe.recipeName}}
     <a  href="javascript:void(0)" class="delete border border-danger bg-danger text-white"
            (click)="delete(recipe)">Remove</a>
   </li>
 </ul>
 </div>

<button class="btn btn-light btn-outline-dark" (click)="goBack()">Back</button>


