<h1>Your Profile</h1>
<hr />
<img src="{{profileImage}}" style="float: left;">

<!-- <div>
    &emsp;&emsp;&emsp;<strong>&emsp;Username:&emsp;</strong> &emsp;&emsp;{{username}} 
    <br><br>
    &emsp;&emsp;&emsp;<strong>&emsp;Email:&emsp;</strong> &emsp;&emsp;{{email}} <br>
</div> -->

<table>
    <tr>
        <td>
            <strong>Username:</strong>
        </td>
        <td>
            {{username}} <br>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <strong>Email:</strong>
        </td>
        <td>
            {{email}} <br>
        </td>
    </tr>
</table>

<br><br><br><br>

<div class="parent">
    <div class="left"><button class="btn btn-light btn-outline-dark" (click)="goBack()">go back</button></div>
    <div class="center"><button class="btn btn-light btn-outline-dark" (click)="auth.logout()" style="align-items: center;"
        [routerLink]="['/']" *ngIf="auth.loggedIn">Log Out</button></div>
    <div class="right"></div>
</div>