<h1>Your Profile</h1>
<hr />
<img src="{{profileImage}}" style="float: left;">

<!-- <div>
    &emsp;&emsp;&emsp;<strong>&emsp;Username:&emsp;</strong> &emsp;&emsp;{{username}} 
    <br><br>
    &emsp;&emsp;&emsp;<strong>&emsp;Email:&emsp;</strong> &emsp;&emsp;{{email}} <br>
</div> -->

<table>
    <tr>
        <td>
            <strong>Username:</strong>
        </td>
        <td>
            {{username}} <br>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <strong>Email:</strong>
        </td>
        <td>
            {{email}} <br>
        </td>
    </tr>
</table>