img {
    border-radius: 8px;
    height: 20%;
    width: 20%;
}

div {
    text-align: left;
    font-size: 40px;
}

table {
    text-align: left;
    font-size: 40px;
}

td {
    padding-left: 40px;
}