<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    >
      <div class="container">
        <img [routerLink]="['/']"  src="../../assets/b650ddfb-0f0a-47b8-b9bb-96faf3ddec39_200x200.png">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div 
          class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
            </li>
            
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" (click)="auth.login()" [routerLink]="['/']" *ngIf="!auth.loggedIn">Log In/Sign Up</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" (click)="auth.logout()" [routerLink]="['/']" *ngIf="auth.loggedIn">Log Out</a>
            </li>
            <span>&emsp; | &emsp;</span>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/search-recipe']">Search Recipe</a>
            </li>
            <span>&emsp; | &emsp;</span>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/api-search']">External Search</a>
            </li>
            <span>&emsp; | &emsp;</span>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/create-recipe']">Create Recipe</a>
            </li>
            <span>&emsp; | &emsp;</span>                    
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/view-recipe/28']">View cookbook</a>
            </li>
            <span *ngIf="auth.loggedIn">&emsp; | &emsp;</span>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/profile']" *ngIf="auth.loggedIn">Profile</a>
            </li>            
            <img class="profileImage"*ngIf="auth.loggedIn" src="{{getProfileImage()}}">
          </ul>
        </div>
      </div>
    </nav>
  </header>
  