body{
    height:100%;
    width: 100%;
    background-repeat:none;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /*
    background-image: url("../assets/food-kitchen-cutting-board-cooking-high-resolution-background-images-desktop-images-of-windows-download-wallpaper-amazing-cool-best-wallpaper-ever-images-pictures-160.jpg");
    */
}
