
<!-- <h1>Edit Recipe</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <form #createRecipe="ngForm" (ngSubmit)="onEdit()">
      <div class="form-group">
        <label class="control-label text-danger">Recipe Name: </label>
        <input [(ngModel)]="newRecipe.RecipeName" name="recipeName" type="text" class="form-control" #recipeName="ngModel" required />
        <div [hidden]="recipeName.valid || recipeName.pristine"
        class="alert alert-danger">Recipe Name is required</div>
      </div>

      <div class="form-group">
        <input #newOrigin class="form-control" /><button type="button" (click)="addOrigin(newOrigin.value); newOrigin.value=''" class="btn btn-light btn-outline-dark">Add Origin</button>
        <br/>Origin:
        <select [(ngModel)]="newRecipe.RecipeOriginName" name="originName" class="custom-select-sm form-control">
          <option *ngFor="let ing of information.origins">{{ing}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label text-danger">Cook Time:  </label>
        <input [(ngModel)]="newRecipe.RecipeCookTime" name="cookTime" type="number" min="1" class="form-control" id="CookTime" required/> Min
      </div>

      <div class="form-group">
        <input #newIngredient class="form-control" /><button type="button" (click)="addIngredient(newIngredient.value); newIngredient.value=''" class="btn btn-light btn-outline-dark">Add New Ingredient</button>
        <input #newMeasurement class="form-control" /><button type="button" (click)="addMeasurement(newMeasurement.value); newMeasurement.value=''" class="btn btn-light btn-outline-dark">Add New Measurement</button>
        <label class="control-label text-danger">Ingredient: </label>
        <select #selectedIngredient class="custom-select-sm form-control">
          <option *ngFor="let ing of information.ingredients" >{{ing}}</option>
        </select>
        <label class="control-label text-danger">Amount: </label>
        <input #selectedAmount class="form-control" />
        <label class="control-label text-danger">Measurement Unit: </label>
        <select #selectedMeasure class="custom-select-sm form-control">
          <option *ngFor="let ing of information.measurementUnits" [value]="ing">{{ing}}</option>
        </select>
        <button type="button" (click)="addIngredientGroup(selectedIngredient.value, selectedAmount.value, selectedMeasure.value)" 
        class="btn btn-light btn-outline-dark">Add Ingredient</button>
      </div>
      <div class="form-group">
        <p *ngFor="let ing of newRecipeIngredientGroup">{{ing.ingredientName}}---
          {{ing.ingredientAmount}}-{{ing.measurementName}}<a (click)="removeIngredient(ing)">X</a></p>>
      </div>

      <div class="form-group">
        <label class="control-label text-danger">Instructions: </label>
        <textarea [(ngModel)]="newRecipe.RecipeInstruction" name="instruction" id="myTextArea" rows="3" cols="80">
          Your text here
        </textarea>
        <button type="submit" class="btn btn-light btn-outline-dark" [disabled]="!createRecipe.form.valid">Create</button>
      </div>
    </form>
    <button class="btn btn-light btn-outline-dark" (onClick)="goBack()">go back</button>
  </div>
</div> -->


<h1>Edit Recipe</h1>
<hr />
<body style="width: 50vw;">
  <div class="row">
    <div class="col-md-4">
      <form #createRecipe="ngForm" (ngSubmit)="onEdit();">
        <div class="form-group">
          <label>Recipe Name: </label>
          <input [(ngModel)]="newRecipe.RecipeName" name="recipeName" type="text" class="form-control" #recipeName="ngModel" required />
          <div [hidden]="recipeName.valid || recipeName.pristine"
          class="alert alert-danger" style="width: 45vw;">Recipe Name is required</div>
        </div>
  
        <div class="form-group">
          <label>Cook Time (in minutes):  </label>
          <input [(ngModel)]="newRecipe.RecipeCookTime" name="cookTime" type="number" min="1" class="form-control" id="CookTime" required/>
        </div>

        <label class="control-label">Origin:</label>
        <div class="origins" style="display:flex;width: 45vw;">

          <select [(ngModel)]="newRecipe.RecipeOriginName" name="originName" class="custom-select-sm form-control">
            <option *ngFor="let ing of information.origins">{{ing}}</option>
          </select>

          <button [hidden]="hideBut1" type="button" (click)="hidingButton1()">Add new origin</button>
          <input [hidden]="!hideBut1" (click)="err1=false" #newOrigin class="form-control"/>
          <button [hidden]="!hideBut1" type="button" (click)="addOrigin(newOrigin.value); newOrigin.value='';hidingButton1()" class="btn btn-light btn-outline-dark">Add</button>
          </div>

        <div [hidden]="!err1"
        class="alert alert-danger">Error! Please check your input again.
        </div>
        <br>
  
        <div class="borderBox">
          <label class="control-label">Ingredient: </label>
          <div class="origins">
          <select #selectedIngredient class="custom-select-sm form-control">
            <option *ngFor="let ing of information.ingredients" >{{ing}}</option>
          </select>
          <button [hidden]="hideBut2" type="button" (click)="hidingButton2()">Add new Ingredient</button>
          <input [hidden]="!hideBut2" (click)="err2=false" #newIngredient class="form-control" />
          <button [hidden]="!hideBut2" type="button" (click)="addIngredient(newIngredient.value); newIngredient.value='';hidingButton2()" class="btn btn-light btn-outline-dark">Add</button>

          </div>
          <div [hidden]="!err2"
          class="alert alert-danger">Error! Please check your input again.
          </div>

          <br>

          <label class="control-label">Measurement Unit: </label>
          <div class="origins">

            <select #selectedMeasure class="custom-select-sm form-control">
              <option *ngFor="let ing of information.measurementUnits" [value]="ing">{{ing}}</option>
            </select>
            <button [hidden]="hideBut3" type="button" (click)="hidingButton3()">Add new Measurement</button>
            <input [hidden]="!hideBut3" (click)="err3=false" #newMeasurement class="form-control" />
            <button [hidden]="!hideBut3" type="button" (click)="addMeasurement(newMeasurement.value); newMeasurement.value='';hidingButton3()" class="btn btn-light btn-outline-dark">Add</button>
          
          </div>
          <div [hidden]="!err3"
            class="alert alert-danger">Error! Please check your input again.
          </div>
          <br>

          <label class="control-label">Amount: </label>
          <div class="form-group">
            <input type="number" #selectedAmount class="form-control" />

          </div>
        </div>
                  
        <br>
        <button type="button" (click)="addIngredientGroup(selectedIngredient.value, selectedAmount.value, selectedMeasure.value);err1=false;err2=false;err3=false" 
        class="btn btn-light btn-outline-dark" style="width: 45vw;">Add Ingredient</button>

        <br><br>
        <label class="control-label">List of ingredients for this recipe: </label>
        <br>

        <!-- <ul class="width">
          <li *ngFor="let ing of newRecipeIngredientGroup">
            {{ing.ingredientAmount}} {{ing.measurementName}} of {{ing.ingredientName}}
            &emsp;<a href="javascript:void(0)" class="border border-danger bg-danger text-white" (click)="removeIngredient(ing)">Remove</a></li>>
        </ul> -->

        <table style="width: 45vw;">
          <tr *ngFor="let ing of newRecipeIngredientGroup">
            <td>
              &#8226; &emsp; {{ing.ingredientAmount}} {{ing.measurementName}} of {{ing.ingredientName}}
            </td>
            <td>
              <a href="javascript:void(0)" class="border border-danger bg-danger text-white" (click)="removeIngredient(ing)">Remove</a>
            </td>
          </tr>
          <tr>
            <td>
              >
            </td>
          </tr>
        </table>

        <div class="form-group">
          <label>Instructions: </label>
          <textarea [(ngModel)]="newRecipe.RecipeInstruction" name="instruction" id="myTextArea" rows="3" cols="80" style="width: 45vw;">
            Your text here
          </textarea>
          <button type="submit" class="btn btn-light btn-outline-dark" [disabled]="!createRecipe.form.valid">Edit</button>
          <button type="button" class="btn btn-light btn-outline-dark" (click)="goBack()">go back</button>
        </div>
      </form>
    </div>
  </div>  
</body>